@model MovieStudioWebApplication.Models.Film

@{
    ViewBag.Title = "Подробности";
}

<h2>Подробности</h2>

<div>
    <h4>Фильм</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Director.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Studio.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Studio.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DurationMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BoxOffice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BoxOffice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Synopsis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Synopsis)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.FilmID }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
