@model IEnumerable<MovieStudioWebApplication.Models.Genre>

@{
    ViewBag.Title = "Жанры";
}

<h2>Жанры</h2>

<p>
    @Html.ActionLink("Создать новую запись", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.GenreID }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.GenreID }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.GenreID })
        </td>
    </tr>
}

</table>
