@model MovieStudioWebApplication.Models.Department

@{
    ViewBag.Title = "Удалить";
}

<h2>Удалить</h2>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Отдел</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Studio.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Studio.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeadName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeadName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Responsibilities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Responsibilities)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
